/*CABEÇALHO*/
.main {
    background-color: #eeeeee;
    min-height: 90vh;
  }
  header {
    background-color: #B29272;
  }
  .bt-log {
    height: 40px;
    text-align: start;
    margin-bottom: 5px;
    color: #1A2915;
    background-color: white;
  }
  .bt-menu {
    width: 100%;
    height: 40px;
    text-align: start;
    margin-bottom: 20px;
    color: #1A2915;
    background-color: white;
  }
  .bt-log:hover {
    background-color: #B29272;
  }
  .modal-content {
    background-color: #DDD3CA;
    color: #1A2915;
  }
  .tx{
    color: #1A2915;
    text-decoration: none;
  }
  .tx:hover{
    color: white;
  }
  .tx-slide{
    background-color: rgba(255, 255, 255, 0.5);
    color: #1A2915;
    text-decoration: none;
    border-radius: 30px;
  }
  h2{
    font-size: 3rem;
  }
  .tx-pg{
    background-color: rgba(255, 255, 255, 0.5);
    color: #533d27;
    text-decoration: none;
    border-radius: 30px;
  }
  /*CABEÇALHO*/

/*Cadas Doadores*/
h2 {
    font-size: 2.5;
    text-align: center;
    padding: 1rem;
    color: #1A2915;
}
.cadastro {
    padding: 1.5rem;
}
#cads {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.dados {
    padding: 2rem;
}
.end {
    padding: 2rem;
}
label {
    font-size: 20px;
    color: #1A2915;
}
#doc {
    width: 20rem;
}
.btnn {
    background-color: #B29272;
    padding:5px 5px;
    font-size: 1.5rem;
    border-radius: 8px;
    color:black;
}
/*termo*/
.modal-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 5000;
    display: none;
    justify-content: center;
    align-items: center;
    box-shadow: 20px 20px 50px rgba(0.5, 0.5, 0.5, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}
.modal-container.mostrar{
    display: flex;
    height:100%;
  }
  .termo{
     background: white;
     height:100%;
    width: 80%;
    min-width: 700px;
    padding: 10px;
    border: 10px solid #B29272;
  }
  .te{
    font-size:100%;
    color: #1A2915;
  }
  .form-check-label{
    font-size:1rem;
    color:black;
  }
  .fechar {
    padding:5px 5px;
    width: 3rem;
    font-size: 1.5rem;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    background-color: #DCBFB3;
  }
/*termo*/
/*Cadas Doadores*/

footer {
        color: #ffffff;
        background-color: #B29272;
        text-align: center;
}

/*BARRA DE NAVEGAÇÃO*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #B29272;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #DDD3CA;
}

.bt-log {
    width: 100%;
    height: 40px;
    text-align: start;
    margin-bottom: 5px;
    color: #1A2915;
    background-color: white;
}

.bt-log:hover {
    background-color: #B29272;
}

.canva {
    background-color: #DDD3CA;
    color: #1A2915;
}



.login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #DDD3CA;
    color: #1A2915;
}

.tx {
    color: #1A2915;
    text-decoration: none;
}
@media(max-width:900px) {
    #cads{
       display:inline;
       width:10%; 
    align-items:center;
    justify-content: center;
 }
    .Cadastro{
     padding:1px;
     border: none;
     }
     #doc{
         width: 15rem;
     }
     .modal-container{
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 5000;
        display: none;
        justify-content: center;
        align-items: center;
        box-shadow: 20px 20px 50px rgba(0.5, 0.5, 0.5, 0.25);
        border-top: 1px solid rgba(255, 255, 255, 0.25);
        border-right: 1px solid rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
      }
      h5{
        font-size: 20px;
        padding: 10px;
      }
      .modal-container.mostrar{
        display: flex;
        height:100%;
      }
      .termo{
        background: white;
        height:100%;
        width: 90%;
        min-width: 300px;
        padding: 10px;
        border:solid #B29272;
      }
      p{
        font-size:55%;
        color: #1A2915;
      }
      .form-check-label{
        font-size:10px;
        color:black;
      }
      .fechar {
        padding:5px 5px;
        width: 3rem;
        font-size: 1.5rem;
        position: absolute;
        top: 0px;
        right: 0px;
        cursor: pointer;
        background-color: #DCBFB3;
      }
      .condi{
      border: solid #B1D8B7;
      }
    }