.main {
    background-color: #eeeeee;
    min-height: 80vh;
}

header {
    background-color: #B29272;
}

.bt-log {
    width: 100%;
    height: 40px;
    text-align: start;
    margin-bottom: 5px;
    color: #1A2915;
    background-color: white;
}

.bt-log:hover {
    background-color: #B29272;
}

.canva {
    background-color: #DDD3CA;
    color: #1A2915;
}

.conteudo {
    background-color: white;
    border-radius: 20px;
    padding-bottom: 30px;
}

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.Ccontainer{
width: 90%;
height: 90vh;
display: flex;

}
.img{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb( 26,41,21 );
    padding: 1rem;
}

.img img{
width: 90%;
}

.form {
width: 60%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-color: rgb(221, 211, 202);
padding: 2rem;
}
.form-header {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.inputs{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 3px;
}
.divid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer {
    background-color: #B29272;
    color: #ffffff;
}

/*BARRA DE NAVEGAÇÃO*/
::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #B29272;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color: #DDD3CA;
}
.bt-log {
    width: 100%;
    height: 40px;
    text-align: start;
    margin-bottom: 5px;
    color: #1A2915;
    background-color: white;
}

.bt-log:hover {
    background-color: #B29272;
}

.canva {
    background-color: #DDD3CA;
    color: #1A2915;
}

.conteudo {
    background-color: #DDD3CA;
    border-radius: 20px;
    padding-bottom: 30px;
    min-height: calc(100vh - 158px);
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #DDD3CA;
    color: #1A2915;
}

.tx {
    color: #1A2915;
    text-decoration: none;
}
