/*CABEÇALHO*/
.main {
  background-color: #eeeeee;
  min-height: 90vh;
}
header {
  background-color: #B29272;
}
.bt-log {
  height: 40px;
  text-align: start;
  margin-bottom: 5px;
  color: #1A2915;
  background-color: white;
}
.bt-menu {
  width: 100%;
  height: 40px;
  text-align: start;
  margin-bottom: 20px;
  color: #1A2915;
  background-color: white;
}
.bt-log:hover {
  background-color: #B29272;
}
.modal-content {
  background-color: #DDD3CA;
  color: #1A2915;
}
.tx{
  color: #1A2915;
  text-decoration: none;
}
.tx:hover{
  color: white;
}
.tx-slide{
  background-color: rgba(255, 255, 255, 0.5);
  color: #1A2915;
  text-decoration: none;
  border-radius: 30px;
}
h2{
  font-size: 3rem;
}
.tx-pg{
  background-color: rgba(255, 255, 255, 0.5);
  color: #533d27;
  text-decoration: none;
  border-radius: 30px;
}
/*CABEÇALHO*/

/*login col*/
.conteudo {
  background-color: #DDD3CA;
  border-radius: 20px;
  padding-bottom: 30px;
  min-height: calc(100vh - 158px);
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #DDD3CA;
  color: #1A2915;
}

.tx {
  color: #1A2915;
  text-decoration: none;
}

.card-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #DCBFB3;
  border-radius: 30px;
  font: caption;
}

.btn-entrar {
  height: 40px;
  width: 50%;
  border-radius: 10px;
  background: white;
}

.entrada {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

footer {
  padding: 20px;
  background-color: #B29272;
  color: #ffffff;
}

@media screen and (min-width: 992px) {
  #img-logo {
      display: none;
  }
}

@media screen and (max-width: 991px) {
  #img-logo2 {
      display: none;
  }
}

@media screen and (max-width: 1200px) {
  #texto-login {
      display: none;
  }
}

@media screen and (max-width: 576px) {
  .conteudo {
      background-color: #eeeeee;
      border-radius: 0px;
      padding-bottom: 0px;
      min-height: calc(100vh - 158px);
  }

  .card-login {
      margin: 0 30px 0 30px;
  }
}

/*BARRA DE NAVEGAÇÃO*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #B29272;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #DDD3CA;
}