/*CABEÇALHO*/
.main {
    background-color: #eeeeee;
    min-height: 90vh;
  }
  header {
    background-color: #B29272;
  }
  .bt-log {
    height: 40px;
    text-align: start;
    margin-bottom: 5px;
    color: #1A2915;
    background-color: white;
  }
  .bt-inst {
    height: 40px;
    text-align: start;
    margin-bottom: 5px;
    color: #1A2915;
    background-color: #B29272;
  }
  .bt-menu {
    width: 100%;
    height: 40px;
    text-align: start;
    margin-bottom: 20px;
    color: #1A2915;
    background-color: white;
  }
  .bt-log:hover {
    background-color: #B29272;
  }
  .modal-content {
    background-color: #DDD3CA;
    color: #1A2915;
  }
  .tx{
    color: #1A2915;
    text-decoration: none;
  }
  .tx:hover{
    color: white;
  }
  .tx-slide{
    background-color: rgba(255, 255, 255, 0.5);
    color: #1A2915;
    text-decoration: none;
    border-radius: 30px;
  }
  h2{
    font-size: 3rem;
  }
  .tx-pg{
    background-color: rgba(255, 255, 255, 0.5);
    color: #533d27;
    text-decoration: none;
    border-radius: 30px;
  }
  /*CABEÇALHO*/
/*CONTEUDO*/
.conteudo {
    background-color: white;
    border-radius: 20px;
    padding-bottom: 30px;
}
.bt-user{
    color: #1A2915;
}
.bt-user:hover{
    background-color: #DDD3CA;
    border: solid #DDD3CA 2px;
}

.cont-fixed{
    max-height: calc(100vh - 212px);
}

section{
    overflow-y: auto;
    min-height: calc(100vh - 665px);
}

article{
    margin-bottom: 40px;
}

.tx{
    color: #1A2915;
    text-decoration: none;
}
.tx:hover{
    color: white;
}
a{
  color: #1A2915;
}
.cont{
    background-color: #e9e9e9;
    border-radius: 20px;
    padding: 20px;
}
.coment-form{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
}

.btnn{
    background-color: #B29272;
    padding:3px 3px;
    font-size: 1rem;
    border-radius: 8px;
    color: black;
}
.pop{
    padding: 10px;
}
@media screen  and (max-width: 1200px){
aside{
    display: none;
}    
}
/*CONTEUDO*/

footer {
    padding: 20px;
    background-color: #B29272;
    color: #ffffff;    
}


/*BARRA DE NAVEGAÇÃO*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #B29272;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #DDD3CA;
}

/*BARRA DE NAVEGAÇÃO*/

/* PALETA DE CORES
cor 01: #DDD3CA
cor 02: #B29272
cor 03: #DCBFB3
cor 04: #1A2915 
*/